In [38]:
import pandas as pd
import riskkit as erk

In [26]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
rets = erk.get_ffme_returns()
rets

         SmallCap  LargeCap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270
...           ...       ...
2018-08    0.0241    0.0234
2018-09   -0.0168    0.0087
2018-10   -0.1002   -0.0657
2018-11   -0.0365    0.0253
2018-12   -0.1531   -0.0890

[1110 rows x 2 columns]

In [35]:
erk.drawdown(rets['SmallCap'])['Drawdown'].min()

-0.8330007793945303

In [37]:
erk.drawdown(rets['1975':]['SmallCap'])['Drawdown'].min()

-0.6312068077252386